<footer>    
    <div class="component">
        <div class="label">Credits:</div>
        <div class="creditItem">
            <a href="http://iai.group/" target="_blank">IAI Group - University of Stavanger</a> (2017)
        </div>
    </div>
    
    <div class="component">
        <div class="label">Visit us:</div>
        <div class="contactItem">
            <a href="https://github.com/iai-group" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>

    </div>

</footer>
