<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHints" aria-expanded="false" aria-controls="collapseExample">
Hints
</button>
<div class="collapse" id="collapseHints">
  <div class="well">
      <div id="general_hint">
        <h4>Wanna search something? Just enter it and click <em>Go!</em> We will do it for you :)</h4>
      </div>
      <div id="search_hint">
        <h5><em>Search</em> tab contains relevant results to your query. You can change the index ... etc... by clicking on <em>Settings</em>.</h5>
      </div>
      <div id="el_hint">
        <h5>Use <em>Entity Linking</em> tab to link the entities occurring in your query. You can also change <em>Settings</em> here.</h5>
      </div>
      <div id="types_hint">
        <h5>Use <em>Target Type Detection</em> tab to rank the types of your query. And yep, you can change <em>Settings</em> here too.</h5>
      </div>
  </div>
</div>
