<div id="pagination">
    <div>
        {{ pagination["results_total_to_show"] }} results, showing {{ pagination["results_from"] }} - {{
        pagination["results_to"] }}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">

            {% if pagination["current_page"] is not equalto 0 %}
            <li>
                <a href="{{ service.label }}?query={{ query }}&page={{ pagination["results_pages"]["first"] }}"
                aria-label="First"><span aria-hidden="true">First</span></a>
            </li>
            {% endif %}


            {% if (pagination["results_pages"]["previous"]) > 1 %}
            <li>
                <a href="{{ service.label }}?query={{ query }}&page={{  pagination["results_pages"]["previous"] - 1 }}"
                aria-label="Previous">
                <span aria-hidden="true">{{ pagination["results_pages"]["previous"] }}</span></a>
            </li>
            {% endif %}


            {% if pagination["current_page"] > 1 %}
            <li>
                <a href="{{ service.label }}?query={{ query }}&page={{ pagination["results_pages"]["previous"] }}"
                aria-label="Previous">
                <span aria-hidden="true">{{ pagination["current_page"] }}</span></a>
            </li>
            {% endif %}

            <li class="active"><a href="#">
                {{ pagination["current_page"] + 1 }}<span class="sr-only">(current)</span></a>
            </li>

            {% if (pagination["current_page"] + 1) < (pagination["results_pages"]["last"]) %}
            <li><a href="{{ service.label }}?query={{ query }}&page={{ pagination["current_page"] + 1 }}">
                {{ pagination["current_page"] + 2 }}
                </a>
            </li>
            {% endif %}

            {% if (pagination["current_page"] + 2) < (pagination["results_pages"]["last"]) %}
            <li><a href="?query={{ query }}&service=&page={{ pagination["current_page"] + 2 }}">
                {{ pagination["current_page"] + 3 }}
                </a>
            </li>
            {% endif %}

            {% if pagination["current_page"] < (pagination["results_pages"]["last"]) %}
            <li>
                <a href="{{ service.label }}?query={{ query }}&page={{ pagination["results_pages"]["last"] }}"
                aria-label="Last"><span aria-hidden="true">Last</span></a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>