<div class="settings" id="settingsER">
    <h4>
    <i data-toggle="collapse" data-target="#collapseSettingsER" aria-expanded="false" aria-controls="collapseExample"
       class="fa fa-cog fa-border"></i>
    </h4>

    <div class="collapse collapsible-service-settings" id="collapseSettingsER">
      <div class="well">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            {% include 'settings_ER_indices.html' %}

            {% include 'settings_ER_methods.html' %}

            {% include 'settings_ER_fields.html' %}

        </div>

      </div>
    </div>
</div>
