<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwoER">
      <h4 class="panel-title">
        <div class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Method
        </div>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

            <select name="{{ service.select_id_name }}" id="{{ service.select_id_name }}" class="service_select">

                <option value="{{ service.selected_method[0] }}" selected>{{ service.selected_method[1] }}</option>
                {% for method in service.other_methods %}
                <option value="{{ method[0] }}">{{ method[1] }}</option>
                {% endfor %}

            </select>

      </div>
    </div>
</div>
