<div class="settings" id="settingsTTD">

    <h4>
    <i data-toggle="collapse" data-target="#collapseSettingsTTI" aria-expanded="false" aria-controls="collapseExample"
       class="fa fa-cog fa-border" sty></i>
    </h4>


    <div class="collapse collapsible-service-settings" id="collapseSettingsTTI">
      <div class="well">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            {% include 'settings_TTI_indices.html' %}

            {% include 'settings_TTI_methods.html' %}

        </div>

      </div>
    </div>
</div>
