<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThreeER">
      <h4 class="panel-title">
        <div class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Field
        </div>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Here a checkbox?
      </div>
    </div>
</div>
