elasticsearch>=5.0,<6.0
Flask>=0.12
jellyfish>=0.5.6
matplotlib>=2.0.0
numpy>=1.11.1
pymongo>=3.2.2
rdflib>=4.2.1
requests>=2.13.0
scikit-learn>=0.19
scipy>=0.19.0
sphinx-rtd-theme>=0.1.9
Sphinx>=1.5.3
